/mundo_3_nivel_1/CadastroPOO/nbproject/private/
/mundo_3_nivel_1/CadastroPOO/build/
.DS_Store
/mundo_3_nivel_3/CadastroBD/nbproject/private/
/mundo_3_nivel_3/CadastroBD/build/
/mundo3_nivel3/CadastroBD/build/
/mundo3_nivel3/CadastroBD/nbproject/private/
/mundo3_nivel4/CadastroEE/nbproject/private/
/mundo3_nivel4/CadastroEE/CadastroEE-war/nbproject/private/
/mundo3_nivel4/CadastroEE/CadastroEE-ejb/nbproject/private/
/mundo3_nivel4/CadastroEE/dist/
/mundo3_nivel4/CadastroEE/build/
/mundo3_nivel4/CadastroEE/CadastroEE-war/build/
/mundo3_nivel4/CadastroEE/CadastroEE-war/dist/
/mundo3_nivel4/CadastroEE/CadastroEE-ejb/build/
/mundo3_nivel4/CadastroEE/CadastroEE-ejb/dist/
/mundo3_nivel4/CadastroEEE/nbproject/private/
/mundo3_nivel4/CadastroEEE/CadastroEEE-war/nbproject/private/
/mundo3_nivel4/CadastroEEE/CadastroEEE-ejb/nbproject/private/
/mundo3_nivel4/CadastroEEE/CadastroEEE-ejb/dist/
/mundo3_nivel4/CadastroEEE/CadastroEEE-ejb/build/
/mundo3_nivel5/CadastroServer/nbproject/private/
/mundo3_nivel5/CadastroServer/build/
/mundo3_nivel5/CadastroClient/nbproject/private/
/mundo3_nivel5/CadastroClient/build/
/mundo3_nivel5/CadastroClientV2/nbproject/private/
/mundo3_nivel5/CadastroClientV2/build/

# Created by https://www.toptal.com/developers/gitignore/api/react,node
# Edit at https://www.toptal.com/developers/gitignore?templates=react,node

### Node ###
# Logs
/mundo4_nivel1/logs
/mundo4_nivel1/*.log
/mundo4_nivel1/npm-debug.log*
/mundo4_nivel1/yarn-debug.log*
/mundo4_nivel1/yarn-error.log*
/mundo4_nivel1/lerna-debug.log*
/mundo4_nivel1/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
/mundo4_nivel1/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
/mundo4_nivel1/pids
/mundo4_nivel1/*.pid
/mundo4_nivel1/*.seed
/mundo4_nivel1/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
/mundo4_nivel1/lib-cov

# Coverage directory used by tools like istanbul
/mundo4_nivel1/coverage
/mundo4_nivel1/*.lcov

# nyc test coverage
/mundo4_nivel1/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
/mundo4_nivel1/.grunt

# Bower dependency directory (https://bower.io/)
/mundo4_nivel1/bower_components

# node-waf configuration
/mundo4_nivel1/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
/mundo4_nivel1/build/Release

# Dependency directories
/mundo4_nivel1/jspm_packages/
/mundo4_nivel1/node_modules/

# Snowpack dependency directory (https://snowpack.dev/)
/mundo4_nivel1/web_modules/

# TypeScript cache
/mundo4_nivel1/*.tsbuildinfo

# Optional npm cache directory
/mundo4_nivel1/.npm

# Optional eslint cache
/mundo4_nivel1/.eslintcache

# Optional stylelint cache
/mundo4_nivel1/.stylelintcache

# Microbundle cache
/mundo4_nivel1/.rpt2_cache/
/mundo4_nivel1/.rts2_cache_cjs/
/mundo4_nivel1/.rts2_cache_es/
/mundo4_nivel1/.rts2_cache_umd/

# Optional REPL history
/mundo4_nivel1/.node_repl_history

# Output of 'npm pack'
/mundo4_nivel1/*.tgz

# Yarn Integrity file
/mundo4_nivel1/.yarn-integrity

# dotenv environment variable files
/mundo4_nivel1/.env
/mundo4_nivel1/.env.development.local
/mundo4_nivel1/.env.test.local
/mundo4_nivel1/.env.production.local
/mundo4_nivel1/.env.local

# parcel-bundler cache (https://parceljs.org/)
/mundo4_nivel1/.cache
/mundo4_nivel1/.parcel-cache

# Next.js build output
/mundo4_nivel1/.next
/mundo4_nivel1/out

# Nuxt.js build / generate output
/mundo4_nivel1/.nuxt
/mundo4_nivel1/dist

# Gatsby files
/mundo4_nivel1/.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
/mundo4_nivel1/.vuepress/dist

# vuepress v2.x temp and cache directory
/mundo4_nivel1/.temp

# Docusaurus cache and generated files
/mundo4_nivel1/.docusaurus

# Serverless directories
/mundo4_nivel1/.serverless/

# FuseBox cache
/mundo4_nivel1/.fusebox/

# DynamoDB Local files
/mundo4_nivel1/.dynamodb/

# TernJS port file
/mundo4_nivel1/.tern-port

# Stores VSCode versions used for testing VSCode extensions
/mundo4_nivel1/.vscode-test

# yarn v2
/mundo4_nivel1/.yarn/cache
/mundo4_nivel1/.yarn/unplugged
/mundo4_nivel1/.yarn/build-state.yml
/mundo4_nivel1/.yarn/install-state.gz
/mundo4_nivel1/.pnp.*

### Node Patch ###
# Serverless Webpack directories
/mundo4_nivel1/.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
/mundo4_nivel1/.svelte-kit

### react ###
/mundo4_nivel1/.DS_*
/mundo4_nivel1/**/*.backup.*
/mundo4_nivel1/**/*.back.*

/mundo4_nivel1/node_modules

/mundo4_nivel1/*.sublime*

/mundo4_nivel1/psd
/mundo4_nivel1/thumb
/mundo4_nivel1/sketch

# End of https://www.toptal.com/developers/gitignore/api/react,node